
.cls-mostSold {
    min-height: 30vh;
}

.cls-promotion {
    min-height: 150vh;
}

@media(max-width: 768px) {
    .cls-mostSold {
        min-height: 90vh;
    }

    .cls-promotion {
        min-height: 200vh;
    }
}
